<main class="index">

    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Registro Votantes</h1>
            <h3 class="mb-5">
                <em>Almacena Base de Datos Votantes</em>       
            </h3>
            <a href="/signin" class="btn btn-primary">
                Empecemos Ya 
            </a>
        </div>
    </header>

</main>